<h1>Add an employee</h1>
<form action="/employee/new" method="post">
  <label for="name">Enter name for new employee:</label>
  <input id="name" name="name" type="text" required>
  <select id='division_id' name='division_id' type='text'>
        <% @divisions.each() do |division| %>
          <option value="<%= division.id()%>"> <%= division.name() %> </option>
        <% end %>
      </select>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="row">
  <br>
  <div class="col-md-2">
    <a href="/" class = "btn btn-success active" role = "button">Home</a>
  </div>
</div>
